In [1]:
import pandas as pd
import os
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt

In [79]:
path = os.getcwd()

In [469]:

class load_data:
    
    
    def __init__(self,path):
        
        self.path = path
        
        
    def patients_data(self):
        
        lst = [d for d, subdir, files in os.walk(self.path, topdown=False)]

        filepath = [x for x in lst if len(x) == max([len(x) for x in lst])]

        return filepath
    
    
    def dev_files(self):
        
        devpath = []
        
        for f in filepath:
            
            tmp = os.listdir(f)
    
            for t in tmp:
        
                if "dev" in t and t.endswith(".csv"):
            
                    devpath.append(os.path.join(f, t))

        return devpath
    


    
    
    
subclass = load_data(path)   

devpath = subclass.dev_files()

devpath = devpath[0]

patients_data = subclass.patients_data()[0]

In [466]:
def get_matched_calfiles(patients_data, devpath):
    
    
    lst=[]

    fpath=[]

    for f in os.listdir(patients_data):
    
        if f.startswith("cal_") and f.endswith(".csv"):

            calpath = os.path.join(patients_data, f)

            with open(calpath, 'r', newline='') as csv_file:

                reader = csv.reader(line.replace('  ', ',') for line in csv_file)

                my_list = list(reader)

                fpath.append(calpath)

                lst.append(my_list[5][0])


    cal_time = pd.DataFrame(zip(lst, fpath), columns=['time', 'filename'])
    

 ## Processing dev files to get timestamps to match get pre-ST and post-ST cal files

    dev = pd.read_csv(devpath)

    row = (dev.iloc[:, 0] == 'time').idxmax()

    dev.columns = dev.loc[row]

    dev = (dev.loc[row+1:, :]
           
           .reset_index(drop=True)
          )


    data_dype = ['124', '125']

    dev = (dev[dev['type']
               .isin(data_dype)]
           .sort_values(by=['type'])
           .reset_index(drop=True)
          )
    
    
    
    dev["ST"] = dev["type"].map(lambda x: "Pre_ST" if "124" in x else "Post_ST")
 

    tmp = pd.merge(dev, cal_time, how='inner', on='time')   
    
    return tmp



    
get_matched_calfiles(patients_data, devpath)

'/Users/habbasi/Desktop/Interview_Data Analysis_Test_Set/01-014_170614H/170614H-2017-11-21-09-24-34'

In [433]:

dev = pd.read_csv(devpath)

row = (dev.iloc[:, 0] == 'time').idxmax()

dev.columns = dev.loc[row]

dev = (dev.loc[row+1:, :]
       .reset_index(drop=True)
      )



data_dype = ['124', '125']

dev = (dev[dev['type']
           .isin(data_dype)]
       .sort_values(by=['type'])
       .reset_index(drop=True)
      )
dev["ST"] = dev["type"].map(lambda x: "Pre_ST" if "124" in x else "Post_ST")
dev

6          time type  data       ST
0    1506990113  124   797   Pre_ST
1    1509317535  124   595   Pre_ST
2    1509285724  124   229   Pre_ST
3    1509236883  124   254   Pre_ST
4    1509216837  124  1260   Pre_ST
..          ...  ...   ...      ...
156  1507987957  125   331  Post_ST
157  1509123914  125   234  Post_ST
158  1509061513  125   226  Post_ST
159  1509027065  125   226  Post_ST
160  1510423101  125   220  Post_ST

[161 rows x 4 columns]

In [260]:
timestamp = dev[dev['type'].isin(data_dype)]['time'].tolist()

['1506990113',
 '1509317535',
 '1509285724',
 '1509236883',
 '1509216837',
 '1509196382',
 '1509148436',
 '1509130331',
 '1509121444',
 '1509059039',
 '1509024606',
 '1508972416',
 '1510420639',
 '1508903859',
 '1508850367',
 '1508800081',
 '1508770914',
 '1508716752',
 '1508681781',
 '1508624029',
 '1508592733',
 '1508592623',
 '1508546086',
 '1508505893',
 '1509374093',
 '1509409899',
 '1509458998',
 '1509473997',
 '1510362557',
 '1510337399',
 '1510276550',
 '1510239889',
 '1510185081',
 '1510154402',
 '1510100831',
 '1510067293',
 '1510018521',
 '1509982770',
 '1509929296',
 '1508457611',
 '1509891779',
 '1509808141',
 '1509752522',
 '1509751998',
 '1509720168',
 '1509670529',
 '1509644953',
 '1509631573',
 '1509580117',
 '1509570478',
 '1509545052',
 '1509493361',
 '1509833470',
 '1508417288',
 '1508938985',
 '1508370037',
 '1508113837',
 '1507472056',
 '1507727542',
 '1507500479',
 '1508027558',
 '1507985490',
 '1507555852',
 '1507937044',
 '1507591570',
 '1507902170',
 '1507638930',
 '1507857234',
 '1507679584',
 '1507815546',
 '1507769430',
 '1507430501',
 '1508161906',
 '1508075745',
 '1508246449',
 '1508284735',
 '1508202504',
 '1507383235',
 '1508336429',
 '1508368404',
 '1506990175',
 '1507304910',
 '1507328813',
 '1507594047',
 '1509673003',
 '1509647420',
 '1507385711',
 '1507641405',
 '1509722637',
 '1509634043',
 '1509582580',
 '1507682067',
 '1509572942',
 '1510365034',
 '1510339861',
 '1510279010',
 '1509754985',
 '1507558338',
 '1510069769',
 '1510020985',
 '1507432977',
 '1510156877',
 '1509985240',
 '1507331306',
 '1509931763',
 '1507474544',
 '1509894248',
 '1510187551',
 '1509836755',
 '1507502981',
 '1509810607',
 '1510242369',
 '1510103296',
 '1507308759',
 '1509547516',
 '1509412379',
 '1509495843',
 '1508941446',
 '1508906324',
 '1508116303',
 '1508852839',
 '1508802544',
 '1508164371',
 '1508773382',
 '1508719220',
 '1508204982',
 '1508684247',
 '1508626494',
 '1508248925',
 '1508595197',
 '1508287205',
 '1508548549',
 '1508508443',
 '1508338891',
 '1508460077',
 '1508419756',
 '1508078216',
 '1507730058',
 '1508974884',
 '1508030025',
 '1509476462',
 '1507771899',
 '1509461470',
 '1508370125',
 '1507818033',
 '1509376555',
 '1509320196',
 '1507859708',
 '1509288199',
 '1509239344',
 '1507904645',
 '1509219313',
 '1509198980',
 '1507939518',
 '1509151097',
 '1509132812',
 '1507987957',
 '1509123914',
 '1509061513',
 '1509027065',
 '1510423101']

In [435]:
def cal_files(self, filepath):

    lst = [d for d, subdir, files in os.walk(self.path, topdown=False)]

    filepath = [x for x in lst if len(x) == max([len(x) for x in lst])]

    calpath = []

    fpath = []

    for f in filepath:

        tmp = os.listdir(f)

        for t in tmp:

            if t.startswith("cal_") and t.endswith('.csv'):

                fpath.append(t)

                calpath.append(os.path.join(f, t))



    return calpath, fpath
    



lst=[]

for c in calpath:
    
    with open(c, 'r', newline='') as csv_file:
        
        reader = csv.reader(line.replace('  ', ',') for line in csv_file)
        my_list = list(reader)
        lst.append(my_list[5][0])
    

cal_time = pd.DataFrame(zip(lst, fpath), columns=['time', 'filename'])

tmp = pd.merge(dev, cal_time, how='inner', on='time')
tmp

,time,type,data,ST,filename
0,1506990113,124,797,Pre_ST,cal_2017-11-21_09-24-34-70-77-20751-13110-1413...
1,1509317535,124,595,Pre_ST,cal_2017-11-21_09-24-34-70-77-20751-13110-1413...
2,1509285724,124,229,Pre_ST,cal_2017-11-21_09-24-34-70-77-20751-13110-1413...
3,1509236883,124,254,Pre_ST,cal_2017-11-21_09-24-34-70-77-20751-13110-1413...
4,1509216837,124,1260,Pre_ST,cal_2017-11-21_09-24-34-70-77-20751-13110-1413...
...,...,...,...,...,...
156,1507987957,125,331,Post_ST,cal_2017-11-21_09-24-34-70-77-20751-13110-1413...
157,1509123914,125,234,Post_ST,cal_2017-11-21_09-24-34-70-77-20751-13110-1413...
158,1509061513,125,226,Post_ST,cal_2017-11-21_09-24-34-70-77-20751-13110-1413...
159,1509027065,125,226,Post_ST,cal_2017-11-21_09-24-34-70-77-20751-13110-1413...
160,1510423101,125,220,Post_ST,cal_2017-11-21_09-24-34-70-77-20751-13110-1413...

           time                                           filename
0    1509580117  cal_2017-11-21_09-24-34-70-77-20751-13110-1413...
1    1509754985  cal_2017-11-21_09-24-34-70-77-20751-13110-1413...
2    1509670529  cal_2017-11-21_09-24-34-70-77-20751-13110-1413...
3    1507818033  cal_2017-11-21_09-24-34-70-77-20751-13110-1413...
4    1507939518  cal_2017-11-21_09-24-34-70-77-20751-13110-1413...
..          ...                                                ...
550  1503013730  cal_2017-09-25_08-54-36-56-90-20748-13110-1413...
551  1501084394  cal_2017-09-25_08-54-36-56-90-20748-13110-1413...
552  1501727835  cal_2017-09-25_08-54-36-56-90-20748-13110-1413...
553  1501604769  cal_2017-09-25_08-54-36-56-90-20748-13110-1413...
554  1501467891  cal_2017-09-25_08-54-36-56-90-20748-13110-1413...

[555 rows x 2 columns]